{% extends "layouts/base.html" %}

{% block title %}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/TMI_Logo_150x152.png" height="40" width="40" alt="TMI Logo">
                  </span>      
                <strong> TMI </strong> Online へようこそ！
              </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">お知らせ</h3>
                          <p class="small pe-4">
                              <ul>
                               <li> 2021/10/10 : TMI Online を開始しました。<br>
                              講義の視聴登録には、登録キーワードが必要です。
                              講義担当者から入手してください。<br />
                              メニューの "Register"から登録してください。
                              </li>
                                </ul>
                          </p>
                      </div>
                  </li>
<!--                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">利用状況</h3>
                          <p class="small pe-4">視聴状況については、随時システム側で確認しています。</p>
                      </div>
                  </li>
                -->
              </ul>

              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">TMI Online Status</h3>
                        <p class="small pe-4">
                            TMI Online では、鋭意、講義動画を登録しています。<br />
                            適宜更新予定ですので、またぜひお越しください。                            
                            </p>
                    </div>
                </li>
<!--                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">利用状況</h3>
                        <p class="small pe-4">視聴状況については、随時システム側で確認しています。</p>
                    </div>
                </li>
              -->
            </ul>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
