{% extends 'layout.html' %}

{% block content %}
    <div class="login-page clearfix">
        <div class="login-box auth0-box before">
            <img src="static/assets/img/brand/TMI_Logo_150x152.png" />
            <br />
            <h3>Welcome to Mobility Innovation Program</h3>
            <div class="login-desc">
                <br />
                <p>名古屋大学　TMI/GREMO</p>
		<p>モビリティ イノベーション　プログラム</p>
                <br />
            </div>
            <a id="qsLoginBtn" class="btn btn-lr-margin btn-primary btn-login btn-block" href="/login/auth0">Log In</a>
        </div>
    </div>
{% endblock content %}
