{% extends "layouts/base.html" %}

{% block title %} Privacy Policy {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/MIP_Logo_150x152.png" height="40" width="40" alt="TMI Logo">
                  </span>      
                <strong> MIP </strong> Online プライバシーポリシー
              </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <p class="small pe-4">
                       名古屋大学 卓越大学院「ライフスタイル革命のための超学際移動イノベーション人材養成学位プログラム」(以下「TMI」と呼ぶ)では、
                        本ウェブサイト上で提供するサービス（以下「本サービス」）における、ユーザの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」）を定めます。   
                        </p>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">個人情報</h3>
                          <p class="small pe-4">「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし特定の個人を
                              識別できる情報にかかるデータ（個人識別情報）を指します。
                          </p>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">個人情報の収集</h3>
                        <p class="small pe-4">TMIでは、本サービスを通じ、ユーザ名、メールアドレスなどの個人情報と共に、
                            ビデオの視聴履歴などを収集します。
                        </p>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">個人情報の収集・利用する目的</h3>
                        <p class="small pe-4">TMIが個人情報を収集・利用する目的は以下のとおりです。<br />
                            <ol>
                                <li> オンラインビデオ視聴サービスを提供するため</li>
                                <li> メンテナンス、重要なお知らせなど、必要に応じた連絡のため</li>
                                <li> 利用者を識別し、不正行為などによる利用中止等を行うため</li>
                                <li> サービス向上のため</li>
                                <li> その他、上記目的に付随する目的</li>
                            </ol>
                        </p>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">個人情報の第三者提供</h3>
                        <p class="small pe-4">TMIでは、本人からの承諾を得た場合や、個人情報保護法やその他の法令に基づく場合を除き、個人情報を第三者に提供することはありません。
                        </p>
                    </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">お問い合わせ窓口</h3>
                        <p class="small pe-4">TMIでは、以下の窓口で問い合わせを受付ます。
                            <p>
                                連絡先：TMI卓越推進室<br>
                                　　Email: tmi@mirai.nagoya-u.ac.jp <br>
                                　　TEL: 052-788-6114 (9:00~17:00)
                            </p>
                        </p>
                    </div>
                </li>
            </ul>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
