{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                視聴登録
              </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                        <form action="register.html" method="POST">
                            {% csrf_token %}
                            <div class="col-mb-12">

                                    <h3 class="h6 mb-3">登録キーワードの入力</h3>
                                    <input class="form-control" name="ticket_name" type="text" placeholder="Enter Keyword" required>
                                </div>
                                <div class="mt-3 mb-3">
                                    <button type="submit" class="btn btn-dark">視聴登録</button>
                                </div>
                                <div class="h6 mb-4" style="color: crimson;">
                                    {{err_message}}
                                </div>
                            </div>
                        </form>
                      </div>
                  </li>
              </ul>

          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
