{% extends "layouts/base.html" %}

{% block title %} Terms and Condition {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/MIP_Logo_150x152.png" height="40" width="40" alt="TMI Logo">
                  </span>      
                <strong> MIP </strong> Online 利用規約
              </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                        <p class="small pe-4">
                         名古屋大学 卓越大学院「ライフスタイル革命のための超学際移動イノベーション人材養成学位プログラム」(以下「TMI」と呼ぶ)では、
                        本ウェブサイト上で提供するサービス（以下「本サービス」）における、以下のとおり本サービスの利用規約（以下「本規約」）を定めます。
                      </p>
                      </div>
                  </li>

                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">MIP Online の利用について</h3>
                          <p class="small pe-4">
                              本サービスへのログイン、及び利用を行うユーザは、本規約へ同意したものとみなします。
                              また、以下の事項を遵守することを求めます。
                              <ol>
                                <li>本サービスを善良なるユーザとして利用すること</li>
                                <li>本サービスが提供する映像や音声を録画・録音・コピーしないこと</li>
                                <li>本サービスが提供する映像や音声を視聴目的以外で利用しないこと</li>
                                <li>本サービスに対する不正アクセス・妨害公営等を行わないこと</li>
                                <li>本サービスに問題があった場合は速やかに管理者(TMI卓越推進室)に連絡すること</li>
                              </ol>
                          </p>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">利用登録・停止</h3>
                          <p class="small pe-4">本サービスの利用を希望するユーザは、本規約に同意することを求めます。
                              また、本サービスの利用において、本規約への違反などがある場合は、利用を停止させる場合があります。
                          </p>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">ユーザID・パスワードの管理</h3>
                        <p class="small pe-4">
                            ユーザは、自己の責任において、ユーザID/パスワードを適切に管理するものとします。
                            ユーザはいかなる場合も、ユーザID/パスワードを第三者に譲渡・貸与・共用することはできません。
                            ユーザID/パスワードによるログインは、そのユーザIDを登録しているユーザ自身によるものとみなします。
                        </p>
                    </div>
                　</li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">サービス内容の変更</h3>
                        <p class="small pe-4">
                            TMIは、ユーザに通知することなく、本サービスの内容を変更する場合があります。
                        </p>
                    </div>
                　</li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">利用規約の変更</h3>
                        <p class="small pe-4">
                            TMIは、ユーザに通知することなく、本規約の内容を変更する場合があります。
                        </p>
                    </div>
                　</li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">準拠法・裁判管轄</h3>
                        <p class="small pe-4">
                            本規約の準拠法は日本法とし、本規約に起因しまたは関連する一切の紛争については、名古屋地方裁判所を第一審の専属的合意管轄裁判所とします。
                        </p>
                    </div>
                　</li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                    <div>
                        <h3 class="h6 mb-1">お問い合わせ窓口</h3>
                        <p class="small pe-4">TMIでは、以下の窓口で問い合わせを受付ます。
                            <p>
                                連絡先：TMI卓越推進室<br>
                                　　Email: tmi@mirai.nagoya-u.ac.jp <br>
                                　　TEL: 052-788-6114 (9:00~17:00)
                            </p>
                        </p>
                    </div>
                </li>
            </ul>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
