{% extends "layouts/base.html" %}

{% block title %} Videos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/plyr/plyr.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div class="row">
<!--      <div class="col-12 col-xl-5">-->
        {% if novideo %}
        現在、視聴可能なビデオはありません。登録をお願いします。
        {% endif %}
        
        {% for tt in cs_titles %}
        <div class="col-12 col-xl-6">
           <div class="card card-body shadow-sm mb-4 mb-lg-4">
              <h2 class="h5 mb-4">
                {{ tt.0 }} &nbsp ビデオ一覧
              </h2>
              {% for vs in tt.1 %}
                {{ vs.0 }}
                    <div class="card card-body shadow-sm mb-4">
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <img src="{{vs.5}}">
<!--                                <div id="vplayer{{vs.4}}"  data-plyr-provider="vimeo" data-plyr-embed-id="{{ vs.3 }}">
                                </div>
                                -->
                            </div>
                            <div class="col-12 col-xl-8">
                                <h5>{{ vs.1 }} </h5> &nbsp;&nbsp;{{vs.2}} <br />
                                {{vs.6}}分{{vs.7}}秒：
                                <button class="btn btn-tertiary col-lg-3" onclick="window.location.href='/view_video?vid={{vs.3}}'"
                                > 受講</button>
                            </div>
                        </div>
                    </div>
              {% endfor %}
            </div>
        </div>
        {% endfor%}
<!--    </div>
</div>
   
<!--    </div>-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- plyr -->
<script src="/static/assets/vendor/plyr/plyr.min.js"></script>
<script>
    {% for tt in cs_titles %}
        {% for vs in tt.1 %}
            const player{{vs.4}} = new Plyr('#vplayer{{vs.4}}');
            player{{vs.4}}.on( 'playing', event  =>  {
                console.log("Player{{vs.4}}:",event.detail.plyr);
            });
        {% endfor %}
    {% endfor %}
</script>

{% endblock javascripts %}
