{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                ビデオ一覧
              </h2>
                    <div class="plyr__video-embed" id="player" style="padding:56.25% 0 0 0;position:relative;">
                    
                        
                        <iframe src="https://player.vimeo.com/video/624180970?h=578e8b128f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="プロダクトデザイン​１_商品企画 株式会社デンソー　伊藤義人氏"></iframe></div>
                    </div>                    
          </div>

          <div class="card card-body shadow-sm mb-4 mb-lg-0">

              <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="624180970"></div>
        </div>
        <div class="card card-body shadow-sm mb-4 mb-lg-0">
            <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="495135417"></div>
        </div>

        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/495135417?h=debbc28aa8&title=0&byline=0&portrait=0&speed=0&badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>


        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/495134886?h=e2b09a695f&title=0&byline=0&portrait=0&speed=0&badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>

        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/518739885?h=e079a549bd&badge=0&autopause=0&player_id=0&app_id=58479/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
       <script src="https://player.vimeo.com/api/player.js"></script> 

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
