{% extends "layouts/base.html" %}

{% block title %} View Video {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/plyr/plyr.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<!--  <div class="row">-->
      <div class="col-12 col-xl-12">
        {% if novideo %}
        現在、視聴可能なビデオはありません。登録をお願いします。
        {% endif %}
            <div class="card card-body shadow-sm mb-4 mb-lg-4">                             
                <h4>{{cs_titles.0.0}}: {{ vs.0 }}「{{ vs.1 }}」</h4>
                <h5>{{vs.2}}</h5> 
<!--             <div class="card card-body shadow-sm mb-4"> -->
                 <div class="col-12 col-xl-10">
<!--                    <div id="vplayer"  data-plyr-provider="vimeo" data-plyr-embed-id="{{ vs.3 }}">
                    </div>
                                                src="https://player.vimeo.com/video/{{vs.3}}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media#t={{vs.5}}m{{vs.6}}s"

-->
<!-- we use progressive enhancement version -->
                    <div class="plyr__video-embed" id="vplayer">
                        <iframe
                            src="https://player.vimeo.com/video/{{vs.3}}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"
                       ></iframe>
                    </div>
                 </div>
                            <!--
                            <div class="col-12 col-xl-8">
                                <h3>
                                  
                                </h3>
                            </div>-->
<!--             </div> -->
                        {% csrf_token %}
           </div>
    </div>
   
<!--    </div>-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- plyr 
<script src="/static/assets/vendor/plyr/plyr.min.js"></script>-->
<script>
    var currentTime = {{vs.4}}; // get last time from server 
    var cspeed = 1;
    var modified = false;
    var view_duration = 0; // collect view duration from update info
    var view_last_time = {{vs.4}}; // last time

    var csrf_token = document.getElementsByName("csrfmiddlewaretoken");

    function vd_update(){
        const psm = fetch("set_video",{
            credentials: 'include', // with auth info
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 
                encodeURI("csrfmiddlewaretoken="+csrf_token[0].getAttribute("value")
                +"&vid={{vs.3}}"+
                "&currentTime="+currentTime+
                "&duration="+view_duration+
                "&cspeed="+cspeed)
            }).then(response=> response.json())
        .then(data => {
//            console.log("success",data)
        }).catch((error)=>{
            console.log("POST info failed!",error);
        });
    }

    function set_play_status(mode){ // set user and video status
        ct = player.currentTime
        view_last_time = ct; // change duration 
        //        console.log(mode,"Time",player.currentTime, "Speed:",player.speed)
        if (currentTime != ct){
            currentTime = ct;
            modified = true; // need push
            cspeed = player.speed;
            if (mode == "playing" || mode=="end" || mode == "pause"){
                vd_update()                
            }
        }
    }

    // set update before unload the page.
    window.onbeforeunload = function(e){
        if (currentTime != 0 && modified){
            vd_update();
        }
    }
    

    var setflag = false;

            const player = new Plyr('#vplayer',
                {
                    controls:['play','progress','current-time','mute','volume','settings','fullscreen'],
//                    controls:[], //'play','current-time','volume','settings'],
                    quality:{default:1080,options:[1080,720,576,480,360,240]},
 //                   debug: false,
                    vimeo:{
                        startTime: {{vs.4}}
                    }
                });
            player.on( 'ready', event  =>  {
//                console.log("ready from",{{vs.5}},"min",{{vs.6}},"sec");
//                console.log("setCurrentTime",player.currentTime);
//                player.currentTime = currentTime;
//                console.log("getCurrentTime",player.currentTime);
                setflag = true;
//                player.play(); 
//                window.setTimeout(()=>{ player.forward(currentTime); console.log("OK!", player.currentTime)},1500);
            });
            player.on( 'play', event  =>  {
                if (setflag){
//                    console.log("Set New seek!");  // seeking only here works!
                    window.setTimeout(()=>{ player.currentTime = {{vs.4}};},200); 
                    setflag= false;
                } 
//                set_play_status("play");
            });
            player.on( 'timeupdate', event  =>  {
                const diff = player.currentTime-view_last_time;
                if (diff > 0 && diff < 2){  // ignore seeking
                    view_duration += diff;
//                    console.log("timeUpdate",player.currentTime,view_duration, view_last_time);
                }
                view_last_time = player.currentTime;
            });
            player.on( 'playing', event  =>  {
//                console.log("playing", player.currentTime, currentTime);
//                set_play_status("playing");
            });
            player.on( 'progress', event  =>  {
//                console.log("progress",player.currentTime);
                set_play_status("progress");
            });
            player.on( 'pause', event  =>  {
                set_play_status("pause");
            });
            player.on( 'ended', event  =>  {
                set_play_status("ended");
            });
            player.on( 'seeking', event  =>  {
                console.log("seeking",player.currentTime);
                view_last_time = player.currentTime;
//                console.log("Seeking",event.detail.plyr);
            });
            player.on( 'ratechange', event  =>  {
                console.log("rateChange",player.currentTime);
                view_last_time = player.currentTime;
                //               console.log("RateChange",event.detail.plyr);
//                set_play_status("ratechange");
            });

            // leaving.
</script>

{% endblock javascripts %}
