<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="{{ auth0pic }}" class="card-img-top rounded-circle border-white">
          </div>
          <div class="d-block">
            <h2 class="h6">
              {{ request.user.first_name}}&nbsp;{{request.user.last_name}}
            </h2>
            <a href="{% url 'logout' %}" class="btn btn-secondary text-dark btn-xs"><span
                class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="/" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <img src="/static/assets/img/brand/TMI_Logo_Dark_130.png" height="25" width="25" alt="TMI Logo">
            </span>
            <span class="mt-1 ms-1 sidebar-text">MIP Online</span>
          </a>
        </li>
        <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
          <a href="/dashboard.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-list-alt"></span></span>
            <span class="sidebar-text">Dashboard</span>
          </a>
        </li>
       <li class="nav-item {% if 'videos' in segment %} active {% endif %}">
          <a href="/videos.html" class="nav-link">
           <span class="sidebar-icon"><span class="fa fa-film"></span></span>
           <span class="sidebar-text">Videos</span>
          </a>
        </li>
        {% if not novideo %}
        <li class="nav-item">
          <span
          class="nav-link  {% if not cs %}collapsed{%endif%}  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#course-lists" aria-expanded="{% if 'courses' in segment %}true{%else%}false{%endif%}">
            <span>
              <span class="sidebar-icon"> <span class="fas fa-table"></span></span> 
              <span class="sidebar-text">Courses</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>

            <div class="multi-level collapse {% if 'courses' in segment %} show {% endif %} " role="list"
                 id="course-lists" aria-expanded="{% if 'courses' in segment %}true{%else%}false{%endif%}">
              <ul class="flex-column nav">
                {% for tt in cs_titles %}
                <li class="nav-item {% if tt.2 == cs %} active {% endif %}">
                  <a class="nav-link" href="/courses.html?cs={{tt.2}}">
                    <span class="sidebar-text">{{tt.3}}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </li>
        {% endif %}
        <li class="nav-item {% if 'register' in segment %} active {% endif %}">
          <a href="/register.html" class="nav-link">
           <span class="sidebar-icon"><span class="fa fa-ticket-alt"></span></span>
           <span class="sidebar-text">Register</span>
          </a>
        </li>

      	<li class="nav-item {% if 'usages' in segment %} active {% endif %}">
		      <a href="/usages.html" class="nav-link">
		            <span class="sidebar-icon"><span class="far fa-comment-dots"></span></span>
                 <span class="sidebar-text">Usages</span>
             </a>
        </li>
      <!--
        <li class="nav-item {% if 'settings' in segment %} active {% endif %}">
          <a href="/settings.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
            <span class="sidebar-text">Settings</span>
          </a>
        </li>
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
       -->
      <li class="nav-item {% if 'privacy' in segment %} active {% endif %}">
        <a href="/privacy.html" class="nav-link">
          <span class="sidebar-icon"><span class="far fa-file-alt"></span></span>
          <span class="sidebar-text">Prvivacy Policy</span>
        </a>
      </li>
      <li class="nav-item {% if 'terms' in segment %} active {% endif %}">
        <a href="/terms.html" class="nav-link">
          <span class="sidebar-icon"><span class="far fa-flag"></span></span>
          <span class="sidebar-text">Terms</span>
        </a>
      </li>
    
      </ul>
    </div>
  </nav>
